<a href="https://colab.research.google.com/github/m-vahidalizadeh/HelloPython/blob/main/helloPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")
name = input("What is your name? ")
print("Nice to meet you", name)

Hello World!
What is your name? Vahid
Nice to meet you Vahid

In [ ]:
# This is my first comment
myint = 10
myfloat = 13.2576
mystr = "This is a string"
mybool = True
print(myint)
print(mystr)
print(myint + myfloat)
print(myint * myfloat)
print(myint / myfloat)
print(myint % 3)

10
This is a string
23.2576
132.576
0.7542843350229302
1

In [8]:
another_str = "This is another string"
print(mystr + another_str)
print("nom " * 3)
# print(mystr + myint)

This is a stringThis is another string
nom nom nom

In [12]:
print(myint == 10)
print(myfloat != 20)
print(myint > 20)
print(myfloat < 10)
print("Combinations!")
print(5 < myint and myint <20)
print(5 < myint or 25.0 < myfloat)
print(10 < myint or 25.0 < myfloat)
print(not(10 < myint))
myint = "Hello World!"
print(myint)

True
True
False
False
Combinations!
True
True
False
True
Hello World!

In [1]:
mylist = [1, 2, 3, 4, "Ali", "Mohammad", True]
print(mylist)
print(mylist[-1])
print(mylist[0])
print(mylist[::-1])
print(mylist[1:5:2])
anotherlist=[6,7,8]
mylist = mylist + anotherlist
print(mylist)
print(1 in mylist)
print(12 in mylist)

[1, 2, 3, 4, 'Ali', 'Mohammad', True]
True
1
[True, 'Mohammad', 'Ali', 4, 3, 2, 1]
[2, 4]
[1, 2, 3, 4, 'Ali', 'Mohammad', True, 6, 7, 8]
True
False

In [3]:
mytuple = (10,11,12)
print(mytuple[1])
print(1 in mytuple)
myset = {1,2,2,2,3,4,5}
print(myset)
print(2 in myset)
mystr = "Mohammad"
print(mystr[1])
print(mystr[::-1])

11
False
{1, 2, 3, 4, 5}
True
o
dammahoM